#skymap-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#skymap-container Header {
    margin: 0;
}

#skymap-container div {
    margin: 0;
    flex: 1;
}

#search {
    max-width: 500px;
    position: absolute;
    left: 20px;
    top: 100px;
    z-index: 10;
}