#skymap-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


#skymap-container Header {
    margin: 0;
}

#skymap-container div {
    margin: 0;
    flex: 1;
}

#skymap_search {
    max-width: 500px;
    position: absolute;
    left: 20px;
    top: 100px;
    z-index: 10;
}

#error {
    max-width: 500px;
    position: absolute;
    left: 20px;
    top: 125px;
    z-index: 10;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

#info-container {
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: rgba(181, 171, 171, 0.5);
    height: auto;
}

#info-container strong {
    color: white;
}

#info-container h3 {
    color: white;
}