#home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* margin: 5px; */
    padding: 5px;
    overflow: hidden;
    height: auto;
}

#object-input {
    border-radius: 20px;
    min-height: 30px;
    min-width: 300px;
    padding-left: 10px;
    font-size: large;
}

#object-submit {
    border-radius: 50px;
    background-color: aqua;
    margin-left: 10px;
}

#log-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    /* overflow: visible;
    flex-wrap: wrap; */
}

#log-container p {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}

#log-container hr {
    width: 100%;
}

#log-display {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    overflow: scroll;
    overflow-y: hidden;
}

#log-display::-webkit-scrollbar {
    display: none;
}

.log-simple {
    border: 2px solid black;
    border-radius: 20px;
    min-width: 200px;
    background-color: rgba(255, 255, 0, 0.184);
}

.log-simple h2{
    margin-bottom: 0;
}

#main-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-top: 100px;
}

#search {
    max-width: 500px;
}

#news-container {
    background-color: black;
    min-height: 300px;
    max-height: 400px;
    width: 200px;
    margin-left: auto;
    position: absolute;
    top: 45px;
    right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}

/* #news-container::-webkit-scrollbar {
    display: none;
} */

.news-blocks {
    border: 1px solid white;
}

#weather {
    position: absolute;
    left: 20px;
    top: 45px;
    text-align: start;
}